@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero-container {
  @apply flex flex-col justify-center items-center;
  margin-top: 12em;
}

.section-container {
  margin-bottom: 12em;
}

.section-title {
  @apply text-center text-3xl lg:text-5xl font-semibold mb-10;
}

@media (max-width: 1024px) {
  .section-container {
    margin-bottom: 6em;
  }
  .hero-container {
    margin-top: 8em;
  }
}
